<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="simpleServiceBean" class="ir.hri.business.SimpleService">
        <property name="id" value="10"/>
        <property name="name" value="HamidReza"/>
    </bean>
    <bean id="doBeforeMethodBean" class="ir.hri.business.DoBeforeMethod"/>
    <bean id="doAfterReturningMethodBean" class="ir.hri.business.DoAfterReturningMethod"/>
    <bean id="doAfterThrowingExceptionMethodBean" class="ir.hri.business.DoAfterThrowingExceptionMethod"/>
    <bean id="doAroundMethodBean" class="ir.hri.business.DoAroundMethod"/>

    <!-- Pointcut and an Advisor 1-->
    <bean id="simplePointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedName" value="printNameId"/>
    </bean>
    <bean name="simpleAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="simplePointcut"/>
        <property name="advice" ref="doAroundMethodBean"/>
    </bean>
    <!-- Pointcut and an Advisor 2-->
    <bean id="simpleAdvisor2" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="mappedName" value="checkName"/>
        <property name="advice" ref="doBeforeMethodBean"/>
    </bean>
    <!-- regex match pointcut -->
    <bean name="regexAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="patterns">
            <list>
                <value>.*ello.*</value>
            </list>
        </property>
        <property name="advice" ref="doAroundMethodBean"/>
    </bean>

    <bean id="simpleServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="simpleServiceBean"/>
        <property name="interceptorNames">
            <list>
                <value>regexAdvisor</value>
            </list>
        </property>
    </bean>


</beans>